body {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
  line-height: 1.5;
  max-width: 1200px;
}

/* TYPOGRAPHY */
.bold {
  font-weight: 900;
}

h1 {
  font-size: 2.75rem;
  font-weight: 300;
  line-height: 1em;
}

h2{
  font-size: 1.25rem;
  margin-bottom:0;
}

small{
  font-size: .8em;
  line-height: 1.1;
}
.hero h1 {
  color: #fff;
  max-width: 475px;
}

.content h1 {
  font-weight: 700;
  margin-bottom: -0.25em
}

h1+p,
h2+p {
  color: #F18119;
  text-transform: uppercase;
  font-weight: 900;
  
}
p {
  margin-top:0;
}

.top-text, 
.bottom-text {
  text-transform: uppercase;
  font-weight: 900;
  color: #F18119;
  padding-bottom:1em;
}

.top-text{
  padding: .5em;
  margin: 0;
  letter-spacing: .15em;
}

p+p {
  color: #5A5A5A;
  max-width: 420px;
  margin: 2em auto;
}

/* layout */

.container {
  background-color: white;
}

.hero { 
  /* background image */
  background-color: #404040;
  background: url(images/dark-ribs.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
  padding: 0 2em;
  height: 500px;
  /* text layout on image */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-text {
  border-top: 5px solid #F18119;
  border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
  padding: 2px;
}

.bottom-text {
  margin-bottom: .5em;
}

.hero,
.content{
  padding: 0 2em;
}


.hero > *,
.content > *{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input,
.btn {
  line-height: 2.5;
  width: 100%;
  border-radius: .5em;
  text-align: center;
  font-size: 1.125rem;
  margin:1em 0;
}

input {
  border: solid 1px #616161;
  color: #616161;
  transform: scale(1);
  transition: transform 250ms;
}


input:focus {
  background-color: #ffa51d1a;
  transform: scale(1.1);
 
}

.btn {
  text-transform: uppercase;
  background: linear-gradient(270deg, #FF713B 0%, #FFA51D 100%);
  border: none;
  color: #fff;
  font-weight: 900;
  letter-spacing: .15em;
  padding: .5em 0;
  transition: transform box-shadow 350ms;
}

.btn:hover,
.btn:focus{
  transform: scale(1.05);
  transition: .35s;
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

@media (min-width:900px) {
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.75rem
  }
  .container {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }
  .content,
  .hero {
    width: 50%;
    min-height: 100vh;
    padding:0;
  }
  .content {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}